.main {
  max-width: 1170px;
  display: flex;
  margin: auto;
}

.main2 {
  max-width: 1170px;
  margin: auto;
}

.slider {
  padding-top: 50px;
  max-width: 1170px;
  margin: auto;
}

@media screen and (max-width:768px) {
  .main {
    flex-direction: column;
  }
}